.App {
  text-align: center;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.Calc {
  width: 500px;
  border: 5px solid #333; 
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f9f9f9; 
}

.Disp {
  border: 5px solid #444; 
  height: 50px;
  font-size: 2em;
  text-align: right;
  padding: 10px;
  background-color: #e0e0e0; 
  color: #222; 
}

.Button {
  border: 5px solid #007BFF; 
  height: 70px; 
  width: calc(25% - 10px);
  margin: 5px; 
  display: inline-block;
  font-size: 1.5em; 
  background-color: #ffffff; 
  color: #007BFF; 
  transition: background-color 0.3s, color 0.3s; 
}

.Button:hover {
  background-color: #007BFF; 
  color: #ffffff; 
}

.ButtonsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  margin: 20px 0; /* Add margin for spacing */
  font-size: 1.5em; /* Adjust font size */
  color: #333; /* Darker text color */
  background-color: #f9f9f9; /* Match background of the calculator */
  padding: 10px; /* Add padding */
  border: 3px solid #444; /* Border to match display */
  border-radius: 5px; /* Rounded corners */
}
